
      .r {
        stroke: #ff6759;
      }

      .r, .s, .t, .u, .v, .w {
        stroke-miterlimit: 10;
      }

      .r, .t, .u, .x, .y, .v, .w {
        fill: none;
        stroke-linecap: round;
      }

      .r, .v {
        stroke-width: 8.5px;
      }

      .s {
        fill: #ffe049;
        stroke-width: 2.5px;
      }

      .s, .x {
        stroke: #ffe049;
      }

      .t {
        stroke-width: 2.2px;
      }

      .t, .u, .v, .w {
        stroke: #000;
      }

      .u {
        stroke-width: 2.2px;
      }

      .x, .y {
        stroke-linejoin: round;
        stroke-width: 8px;
      }

      .z {
        fill: #ff6759;
      }

      .y {
        stroke: #3b5fff;
      }

      .w {
        stroke-width: 12px;
      }